name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.21
      - run: sudo apt-get install libpcap-dev
      - run: go build -v ./...
      # fuzzing, need to specify each package separately
      - run: go test -v -fuzz='.*' -fuzztime=10s ./ptp/protocol/
      - run: go test -v -fuzz='.*' -fuzztime=10s ./ntp/protocol/
      - run: go test -v -fuzz='.*' -fuzztime=10s ./ntp/chrony/
      - name: Run coverage
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
